<nav>
  <ul class="admin-navbar">
    <a href="/" >
      <img class="admin-navbar-img" src="/img/logo.png" alt="HAXX" />
    </a>
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/admin/events">Événements</a></li>
    <li><a href="/admin/projects">Projets</a></li>
    <li><a href="/admin/members">Membres</a></li>
    <li><a href="/">Retour au site</a></li>
    <li><a href="/logout">Déconnexion</a></li>
  </ul>
</nav>
