<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Tableau de Bord Administrateur</title>
</head>
<body>
    <header>
        <%- include('../../partials/navbar-admin') %>
        <h1>Tableau de Bord Administrateur</h1>
    </header>
    <main>
        <section>
            <h2>Aperçu des Événements</h2>
            <div id="events-overview">
                <!-- Liste des événements à afficher ici -->
            </div>
        </section>
        <section>
            <h2>Aperçu des Projets</h2>
            <div id="projects-overview">
                <!-- Liste des projets à afficher ici -->
            </div>
        </section>
        <section>
            <h2>Aperçu des Membres</h2>
            <div id="members-overview">
                <!-- Liste des membres à afficher ici -->
            </div>
        </section>
    </main>
</body>
</html>